.header-container {
  min-height: 90vh;
  background: url("../images/bg-pattern-intro.svg") center,
    linear-gradient(to right, $gradient_very_light_red, $gradient_light_red);
  background-position-x: 25%;
  border-bottom-left-radius: 5rem;
}

nav {
  @include flex(space-around, center, row);
  height: 10vh;
  width: 90%;
  margin: 0 auto;
  padding-top: 5rem;

  .nav-links {
    width: 100%;
    @include flex(space-around, center, row);
    list-style: none;

    li {
      margin-left: 10px;
    }

    li > a {
      color: $neutral_white;
      text-decoration: none;
      font-family: $font_ubuntu;
      font-size: $header5;

      &:hover {
        color: $primary_very_dark_blue;
        text-decoration: 2px solid underline;
        text-underline-offset: 10px;
      }
    }

    li > .arrow-dark-product,
    .arrow-dark-company,
    .arrow-dark-connect {
      display: none;
    }

    .product-content,
    .company-content,
    .connect-content {
      margin-top: 10px;
      position: absolute;
      background: $neutral_white;
      border-radius: 0.5rem;
      box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
      width: 150px;
      height: 150px;
      padding: 1rem;
      list-style: none;
      opacity: 0;
      @include flex(space-around, center, column);
      transition: all 0.3s ease-in;
      pointer-events: none;
      z-index: 1;
      a {
        color: $neutral_very_dark_black_blue;
        font-family: $font_ubuntu;
        font-size: $header5;
        &:hover {
          color: $primary_very_dark_blue;
          font-weight: bold;
        }
      }
    }

    .nav-right {
      margin-left: 50rem;
      a {
        color: $neutral_white;
        text-decoration: none;
        font-family: $font_ubuntu;
        font-size: $header5;

        &:hover {
          text-decoration: 2px solid underline;
          text-underline-offset: 10px;
          color: $primary_very_dark_blue;
        }
      }

      button {
        background: $neutral_white;
        padding: 1rem 3rem;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
          rgba(0, 0, 0, 0.23) 0px 6px 6px;
        border-radius: 2rem;
        margin-left: 1rem;
        font-family: $font_ubuntu;
        font-size: $header5;
        font-weight: bold;
        color: $primary_light_red;
        cursor: pointer;

        &:hover {
          background: $primary_very_light_red;
          color: $neutral_white;
          transition: background 0.5s ease;
        }
      }
    }
  }

  .hamburger {
    display: none;
  }
}

.intro-heading {
  position: relative;
  top: 20vh;
  text-align: center;
  h1 {
    color: $neutral_white;
    font-family: $font_ubuntu;
    font-size: $header1;
    font-weight: lighter;
  }

  p {
    color: $neutral_white;
    font-family: $font_ubuntu;
    font-size: $header5;
    margin-top: 1rem;
  }

  .intro-btns {
    margin-top: 2rem;
    .free-btn {
      background: $neutral_white;
      padding: 1.2rem 2rem;
      border: none;
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
      border-radius: 2rem;
      font-family: $font_ubuntu;
      font-size: $header5;
      font-weight: bold;
      color: $primary_light_red;
      cursor: pointer;

      &:hover {
        background: linear-gradient(
          to right,
          $gradient_very_light_red,
          $gradient_light_red
        );
        color: $neutral_white;
        transition: all 0.5s ease-in;
      }
    }

    .learn-btn {
      background: none;
      padding: 1.2rem 2rem;
      border: 1px solid $neutral_white;
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
      border-radius: 2rem;
      margin-left: 1rem;
      font-family: $font_ubuntu;
      font-size: $header5;
      font-weight: bold;
      color: $neutral_white;
      cursor: pointer;

      &:hover {
        background: $neutral_white;
        color: $primary_light_red;
        transition: all 0.5s ease-in;
      }
    }
  }
}
