/* Future Section */
.future-section {
  position: relative;
  padding-top: 5rem;
  width: 90%;
  margin: auto;
  .future-heading {
    text-align: center;
    font-family: $font_overpass;
    font-size: $header3;
    color: $primary_very_dark_blue;
  }

  .future-content {
    @include flex(center, center, row);
    position: relative;
    .future-text-content {
      flex: 1 0 40%;
      .editor-content {
        h3 {
          font-family: $font_overpass;
          font-size: $header3;
          color: $primary_very_dark_blue;
        }

        p {
          margin-top: 1rem;
          font-family: $font_overpass;
          font-size: $header5;
          line-height: 2rem;
          color: $neutral_very_dark_black_blue;
        }
      }

      .robust-content {
        margin-top: 2rem;
        h3 {
          font-family: $font_overpass;
          font-size: $header3;
          color: $primary_very_dark_blue;
        }

        p {
          margin-top: 1rem;
          font-family: $font_overpass;
          font-size: $header5;
          line-height: 2rem;
          color: $neutral_very_dark_black_blue;
        }
      }
    }

    .future-illustration {
      flex: 1 0 60%;
      position: relative;
      right: -270px;
      img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }
}

/* Infrstructure Section */
.infrastructure-section {
  margin-top: 10rem;
  background: url("../images/bg-pattern-circles.svg") no-repeat left,
    linear-gradient(
      to right,
      $gradient_very_dark_gray_blue 100%,
      $gradient_very_dark_desaturated_blue
    );
  position: relative;
  padding: 0rem 5rem;
  height: 60vh;
  background-position-x: -250px;
  background-position-y: -450px;
  border-bottom-left-radius: 5rem;
  border-top-right-radius: 5rem;
  .infrastructure-content {
    width: 90%;
    margin: auto;
    @include flex(center, center, row);
    position: relative;

    .mobile-illustration {
      flex: 1 0 60%;
      position: relative;
      top: -70px;
      left: -88px;
      img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
      }
    }

    .infrastructure-text {
      position: relative;
      top: -100px;
      flex: 1 0 40%;

      h3 {
        font-family: $font_overpass;
        font-size: $header3;
        color: $neutral_white;
      }
      p {
        margin-top: 1rem;
        font-family: $font_overpass;
        font-size: $header5;
        line-height: 2rem;
        color: $neutral_white;
      }
    }
  }
}

/* Tools Section */
.tools-section {
  margin-top: 10rem;
  min-height: 100vh;
  .tools-content {
    @include flex(center, center, row);
    width: 90%;
    margin: auto;

    .illustration-laptop {
      position: relative;
      flex: 1 0 60%;
      left: -270px;
      img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
      }
    }

    .tools-text-content {
      flex: 1 0 40%;
      .simple-content {
        h3 {
          font-family: $font_overpass;
          font-size: $header3;
          color: $primary_very_dark_blue;
        }

        p {
          margin-top: 1rem;
          font-family: $font_overpass;
          font-size: $header5;
          line-height: 2rem;
          color: $neutral_very_dark_black_blue;
        }
      }

      .powerful-content {
        margin-top: 2rem;
        h3 {
          font-family: $font_overpass;
          font-size: $header3;
          color: $primary_very_dark_blue;
        }

        p {
          margin-top: 1rem;
          font-family: $font_overpass;
          font-size: $header5;
          line-height: 2rem;
          color: $neutral_very_dark_black_blue;
        }
      }
    }
  }
}

/* Footer Section*/
.footer-section {
  min-height: 50vh;
  background-color: $neutral_very_dark_black_blue;
  border-top-right-radius: 5rem;
  padding: 8rem;
  margin-top: 10rem;
  .footer-content {
    @include flex(space-around, center, row);
    .footer-logo {
      align-self: flex-start;
    }

    .product {
      align-self: baseline;
      h5 {
        font-family: $font_overpass;
        color: $neutral_white;
        font-size: $header4;
      }
      .product-links {
        margin-top: 1rem;
      }
      .product-links li {
        list-style: none;
      }
      .product-links a {
        font-family: $font_overpass;
        font-size: $header5;
        color: $neutral_grayish_blue;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
          color: $neutral_white;
        }
      }
    }

    .company {
      align-self: baseline;
      h5 {
        font-family: $font_overpass;
        color: $neutral_white;
        font-size: $header4;
      }
      .company-links {
        margin-top: 1rem;
      }
      .company-links li {
        list-style: none;
      }
      .company-links a {
        font-family: $font_overpass;
        font-size: $header5;
        color: $neutral_grayish_blue;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
          color: $neutral_white;
        }
      }
    }

    .connect {
      align-self: baseline;
      h5 {
        font-family: $font_overpass;
        color: $neutral_white;
        font-size: $header4;
      }
      .connect-links {
        margin-top: 1rem;
      }
      .connect-links li {
        list-style: none;
      }
      .connect-links a {
        font-family: $font_overpass;
        font-size: $header5;
        color: $neutral_grayish_blue;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
          color: $neutral_white;
        }
      }
    }
  }
}
