* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
  overflow-x: hidden;
}

.header-container {
  min-height: 90vh;
  background: url("../images/bg-pattern-intro.svg") center, -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff3d54));
  background: url("../images/bg-pattern-intro.svg") center, linear-gradient(to right, #ff8f70, #ff3d54);
  background-position-x: 25%;
  border-bottom-left-radius: 5rem;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
  padding: 1rem;
}

nav .logo {
  margin-top: 1rem;
}

nav .nav-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 40%;
}

nav .nav-left .nav-links {
  width: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav .nav-left .nav-links li {
  list-style: none;
}

nav .nav-left .nav-links .connect-content {
  position: absolute;
  display: none;
  left: 65%;
  top: 130%;
  height: 20vh;
  background-color: white;
  -webkit-box-shadow: 0pc 10px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0pc 10px 10px rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  width: 50%;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

nav .nav-left .nav-links .connect-content a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #4b5862;
  font-size: 1rem;
  font-family: "Ubuntu", sans-serif;
  margin-top: 1rem;
}

nav .nav-left .nav-links .connect-content a:hover {
  color: #25252d;
  text-decoration: none;
  font-weight: bold;
}

nav .nav-left .nav-links .company-content {
  position: absolute;
  display: none;
  left: 65%;
  top: 130%;
  height: 20vh;
  background-color: white;
  -webkit-box-shadow: 0pc 10px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0pc 10px 10px rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  width: 50%;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

nav .nav-left .nav-links .company-content a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #4b5862;
  font-size: 1rem;
  font-family: "Ubuntu", sans-serif;
  margin-top: 1rem;
}

nav .nav-left .nav-links .company-content a:hover {
  color: #25252d;
  text-decoration: none;
  font-weight: bold;
}

nav .nav-left .nav-links .product-content {
  position: absolute;
  display: none;
  left: 65%;
  top: 130%;
  height: 20vh;
  background-color: white;
  -webkit-box-shadow: 0pc 10px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0pc 10px 10px rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  width: 50%;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

nav .nav-left .nav-links .product-content a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #4b5862;
  font-size: 1rem;
  font-family: "Ubuntu", sans-serif;
  margin-top: 1rem;
}

nav .nav-left .nav-links .product-content a:hover {
  color: #25252d;
  text-decoration: none;
  font-weight: bold;
}

nav .nav-left .nav-links li:hover .connect-content {
  display: block;
}

nav .nav-left .nav-links li:hover .company-content {
  display: block;
  left: 25%;
}

nav .nav-left .nav-links li:hover .product-content {
  display: block;
  left: -30px;
}

nav .nav-left .nav-links li:hover .arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

nav .nav-left .nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-family: "Ubuntu", sans-serif;
}

nav .nav-left .nav-links li a:hover {
  text-decoration: underline;
}

nav .nav-right {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav .nav-right a {
  text-decoration: none;
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
}

nav .nav-right a:hover {
  text-decoration: underline;
}

nav .nav-right .sign-up {
  border: none;
  border-radius: 2rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1rem 3rem;
  background: white;
  color: #ff525d;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
}

nav .nav-right .sign-up:hover {
  background: #ff7a85;
  color: white;
}

nav .nav-right .hamburger {
  display: none;
}

.intro-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10rem;
}

.intro-header h1 {
  font-family: "Ubuntu", sans-serif;
  color: white;
  font-weight: lighter;
}

.intro-header p {
  margin-top: 1rem;
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
}

.intro-btns {
  margin-top: 2rem;
  text-align: center;
}

.intro-btns .start-free {
  border: none;
  border-radius: 2rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1rem 2rem;
  background: white;
  color: #ff525d;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
}

.intro-btns .start-free:hover {
  background: #ff7a85;
  color: white;
}

.intro-btns .learn-more {
  border: 1px solid white;
  border-radius: 2rem;
  background: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1rem 2rem;
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 1rem;
}

.intro-btns .learn-more:hover {
  background: white;
  color: #ff525d;
}

/* Future Section */
.future-section {
  position: relative;
  padding: 5rem 10rem;
}

.future-section .future-heading {
  text-align: center;
  font-family: "Overpass", sans-serif;
  color: #1f3f5b;
}

.future-section .future-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.future-section .future-content .future-text-content .editor-content h3 {
  font-family: "Overpass", sans-serif;
  font-size: 2rem;
  color: #1f3f5b;
}

.future-section .future-content .future-text-content .editor-content p {
  margin-top: 1rem;
  font-family: "Overpass", sans-serif;
  font-size: 1rem;
  line-height: 2rem;
  color: #25252d;
}

.future-section .future-content .future-text-content .robust-content {
  margin-top: 2rem;
}

.future-section .future-content .future-text-content .robust-content h3 {
  font-family: "Overpass", sans-serif;
  font-size: 2rem;
  color: #1f3f5b;
}

.future-section .future-content .future-text-content .robust-content p {
  margin-top: 1rem;
  font-family: "Overpass", sans-serif;
  font-size: 1rem;
  line-height: 2rem;
  color: #25252d;
}

.future-section .future-content .future-illustration {
  position: relative;
  width: 50%;
  left: 10%;
}

.future-section .future-content .future-illustration img {
  width: 60vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Infrstructure Section */
.infrastructure-section {
  margin-top: 10rem;
  background: url("../images/bg-pattern-circles.svg") no-repeat left, -webkit-gradient(linear, left top, right top, color-stop(100%, #2c2d3f), to(#3f4164));
  background: url("../images/bg-pattern-circles.svg") no-repeat left, linear-gradient(to right, #2c2d3f 100%, #3f4164);
  position: relative;
  padding: 0rem 5rem;
  height: 70vh;
  background-position-x: -250px;
  background-position-y: -450px;
  border-bottom-left-radius: 5rem;
  border-top-right-radius: 5rem;
}

.infrastructure-section .infrastructure-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.infrastructure-section .infrastructure-content .mobile-illustration {
  position: relative;
  top: -70px;
  width: 100%;
}

.infrastructure-section .infrastructure-content .mobile-illustration img {
  width: 45vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.infrastructure-section .infrastructure-content .infrastructure-text {
  position: relative;
  top: -100px;
}

.infrastructure-section .infrastructure-content .infrastructure-text h3 {
  font-family: "Overpass", sans-serif;
  font-size: 2rem;
  color: white;
}

.infrastructure-section .infrastructure-content .infrastructure-text p {
  margin-top: 1rem;
  font-family: "Overpass", sans-serif;
  font-size: 1rem;
  line-height: 2rem;
  color: white;
}

/* Infrstructure Section */
.tools-section {
  padding: 5rem 5rem;
  margin-top: 10rem;
  min-height: 100vh;
}

.tools-section .tools-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.tools-section .tools-content .illustration-laptop {
  position: relative;
  width: 50%;
  left: -310px;
}

.tools-section .tools-content .illustration-laptop img {
  width: 60vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.tools-section .tools-content .tools-text-content .simple-content h3 {
  font-family: "Overpass", sans-serif;
  font-size: 2rem;
  color: #1f3f5b;
}

.tools-section .tools-content .tools-text-content .simple-content p {
  margin-top: 1rem;
  font-family: "Overpass", sans-serif;
  font-size: 1rem;
  line-height: 2rem;
  color: #25252d;
}

.tools-section .tools-content .tools-text-content .powerful-content {
  margin-top: 2rem;
}

.tools-section .tools-content .tools-text-content .powerful-content h3 {
  font-family: "Overpass", sans-serif;
  font-size: 2rem;
  color: #1f3f5b;
}

.tools-section .tools-content .tools-text-content .powerful-content p {
  margin-top: 1rem;
  font-family: "Overpass", sans-serif;
  font-size: 1rem;
  line-height: 2rem;
  color: #25252d;
}

/* Footer Section*/
.footer-section {
  min-height: 50vh;
  background-color: #25252d;
  border-top-right-radius: 5rem;
  padding: 3rem;
  margin-top: 10rem;
}

.footer-section .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer-section .footer-content .footer-logo {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.footer-section .footer-content .product {
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.footer-section .footer-content .product h5 {
  font-family: "Overpass", sans-serif;
  color: white;
}

.footer-section .footer-content .product .product-links {
  margin-top: 1rem;
}

.footer-section .footer-content .product .product-links li {
  list-style: none;
}

.footer-section .footer-content .product .product-links a {
  font-family: "Overpass", sans-serif;
  font-size: 1rem;
  color: #c8c8cb;
  text-decoration: none;
}

.footer-section .footer-content .product .product-links a:hover {
  text-decoration: underline;
  color: white;
}

.footer-section .footer-content .company {
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.footer-section .footer-content .company h5 {
  font-family: "Overpass", sans-serif;
  color: white;
}

.footer-section .footer-content .company .company-links {
  margin-top: 1rem;
}

.footer-section .footer-content .company .company-links li {
  list-style: none;
}

.footer-section .footer-content .company .company-links a {
  font-family: "Overpass", sans-serif;
  font-size: 1rem;
  color: #c8c8cb;
  text-decoration: none;
}

.footer-section .footer-content .company .company-links a:hover {
  text-decoration: underline;
  color: white;
}

.footer-section .footer-content .connect {
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.footer-section .footer-content .connect h5 {
  font-family: "Overpass", sans-serif;
  color: white;
}

.footer-section .footer-content .connect .connect-links {
  margin-top: 1rem;
}

.footer-section .footer-content .connect .connect-links li {
  list-style: none;
}

.footer-section .footer-content .connect .connect-links a {
  font-family: "Overpass", sans-serif;
  font-size: 1rem;
  color: #c8c8cb;
  text-decoration: none;
}

.footer-section .footer-content .connect .connect-links a:hover {
  text-decoration: underline;
  color: white;
}

.attribution {
  font-size: 1.2rem;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer-section .footer-content {
    padding: 5rem 10rem;
  }
}

@media screen and (max-width: 768px) {
  nav .nav-left .nav-links {
    -webkit-box-shadow: 0pc 10px 10px rgba(0, 0, 0, 0.3);
            box-shadow: 0pc 10px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 40px;
    height: 80vh;
    top: 12vh;
    background: white;
    display: block;
    text-align: center;
    width: 80%;
  }
  nav .nav-left .nav-links li {
    margin-top: 3rem;
  }
  nav .nav-left .nav-links li > a {
    color: #1f3f5b;
    margin-top: 3rem;
    font-weight: bold;
  }
  nav .nav-left .connect-content {
    position: absolute;
    top: 0%;
  }
  nav .nav-right a {
    position: absolute;
    top: 500%;
    left: 43%;
    font-weight: bold;
    color: #1f3f5b;
  }
  nav .nav-right .sign-up {
    top: 80vh;
    left: 30%;
    display: block;
    position: absolute;
    color: white;
    background: -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff3d54));
    background: linear-gradient(to right, #ff8f70, #ff3d54);
  }
  nav .nav-right .hamburger {
    display: block;
    cursor: pointer;
  }
  nav .nav-right .hamburger.close {
    content: url("../images/icon-close.svg");
  }
  .intro-header h1 {
    text-align: center;
  }
  .intro-header p {
    text-align: center;
  }
  .future-section {
    padding: 1rem;
    margin-top: 10rem;
  }
  .future-section .future-heading {
    text-align: center;
    font-size: 1.5rem;
  }
  .future-section .future-content {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .future-section .future-content .future-text-content {
    text-align: center;
  }
  .future-section .future-content .future-text-content .editor-content h3 {
    font-size: 1.5rem;
  }
  .future-section .future-content .future-text-content .robust-content h3 {
    font-size: 1.5rem;
  }
  .future-section .future-content .future-illustration {
    width: 100%;
    left: 0%;
  }
  .future-section .future-content .future-illustration img {
    content: url("../images/illustration-editor-mobile.svg");
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  /* Infrastructure section */
  .infrastructure-section {
    margin-top: 20rem;
    min-height: 100vh;
    padding: 1rem;
  }
  .infrastructure-section .infrastructure-content {
    text-align: center;
  }
  .infrastructure-section .infrastructure-content .mobile-illustration {
    top: -200px;
    left: -30px;
    width: 0%;
  }
  .infrastructure-section .infrastructure-content .mobile-illustration img {
    width: 100vw;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .infrastructure-section .infrastructure-content .infrastructure-text {
    top: 250px;
  }
  .infrastructure-section .infrastructure-content .infrastructure-text h3 {
    font-size: 1.5rem;
  }
  /* Tools Section */
  .tools-section {
    padding: 1rem;
  }
  .tools-section .tools-content {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .tools-section .tools-content .illustration-laptop {
    position: relative;
    width: 100%;
    left: 0%;
  }
  .tools-section .tools-content .illustration-laptop img {
    content: url("../images/illustration-laptop-mobile.svg");
    width: 100vw;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .tools-section .tools-content .tools-text-content {
    margin-top: 5rem;
  }
  /* Footer Section*/
  .footer-section {
    padding: 5rem 10rem;
  }
  .footer-section .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer-section .footer-content .product {
    margin-top: 2rem;
  }
  .footer-section .footer-content .company {
    margin-top: 2rem;
  }
  .footer-section .footer-content .connect {
    margin-top: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */