@import "global";
@import "intro-container";
@import "main-container";

.attribution {
  font-size: 1.2rem;
  text-align: center;
  font-family: $font_overpass;
}
.attribution a {
  color: $primary_light_red;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer-section {
    .footer-content {
      padding: 5rem 10rem;
    }
  }
}
.nav-active {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  nav {
    .nav-links.open {
      transform: translateX(0%);
    }

    .nav-links li {
      opacity: 0;
    }
    .nav-links li:nth-child(1) {
      transition: all 1s ease-in 0.2s;
    }
    .nav-links li:nth-child(2) {
      transition: all 1s ease-in 0.6s;
    }
    .nav-links li:nth-child(3) {
      transition: all 1s ease-in 0.8s;
    }
    .nav-links li.fade {
      opacity: 1;
    }
    .nav-links {
      position: fixed;
      right: 0px;
      left: 0px;
      height: 80vh;
      display: flex;
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
      flex-direction: column;
      align-items: center;
      background: white;
      top: 14vh;
      width: 90%;
      transition: all 1s ease-out;
      transform: translateX(-100%);

      li > .arrow-light,
      .arrow-light-company,
      .arrow-light-connect {
        content: url("../images/icon-arrow-dark.svg");
        background: navy;
        display: none;
      }

      li > .arrow-dark-product,
      .arrow-dark-company,
      .arrow-dark-connect {
        display: inline-flex;
      }

      li {
        margin-left: 0px;
      }
      li > a {
        color: $primary_very_dark_blue;
      }

      .product-content {
        margin-top: 0rem;
        left: 50%;
        transform: translateX(-50%);
        background: $neutral_grayish_blue;
        width: 300px;
      }

      .company-content {
        margin-top: 0rem;
        left: 50%;
        transform: translateX(-50%);
        background: $neutral_grayish_blue;
        width: 300px;
      }

      .connect-content {
        margin-top: 0rem;
        left: 50%;
        transform: translateX(-50%);
        background: $neutral_grayish_blue;
        width: 300px;
      }

      .nav-right {
        margin-left: 0rem;
        a {
          color: $primary_very_dark_blue;
        }
      }
    }

    .hamburger {
      display: block;
      cursor: pointer;
    }
  }

  .future-section {
    .future-content {
      text-align: center;
      flex-direction: column-reverse;

      .future-text-content {
        margin-top: 3rem;
      }

      .future-illustration {
        margin-top: 3rem;
        right: 0px;
        content: url("../images/illustration-editor-mobile.svg");
      }
    }
  }

  .infrastructure-section {
    position: relative;
    top: 200px;
    text-align: center;
    height: 80vh;
    .infrastructure-content {
      flex-direction: column;
      text-align: center;

      .mobile-illustration {
        top: -200px;
        left: 2%;
        width: 100vw;
      }

      .infrastructure-text {
        top: -200px;
      }
    }
  }

  .tools-section {
    margin-top: 25rem;
    .tools-content {
      text-align: center;
      flex-direction: column;
      .illustration-laptop {
        left: 0;
        content: url("../images/illustration-laptop-mobile.svg");
      }

      .tools-text-content {
        margin-top: 3rem;
      }
    }
  }

  .footer-section {
    text-align: center;
    .footer-content {
      @include flex(center, center, column);

      .footer-logo {
        align-self: center;
      }

      .product {
        margin-top: 3rem;
        align-self: center;
      }

      .company {
        margin-top: 2rem;
        align-self: center;
      }

      .connect {
        margin-top: 2rem;
        align-self: center;
      }
    }
  }
}
