* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
  overflow-x: hidden;
}

.header-container {
  min-height: 90vh;
  background: url("../images/bg-pattern-intro.svg") center, -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff3d54));
  background: url("../images/bg-pattern-intro.svg") center, linear-gradient(to right, #ff8f70, #ff3d54);
  background-position-x: 25%;
  border-bottom-left-radius: 5rem;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 10vh;
  width: 90%;
  margin: 0 auto;
  padding-top: 5rem;
}

nav .nav-links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
}

nav .nav-links li {
  margin-left: 10px;
}

nav .nav-links li > a {
  color: white;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
}

nav .nav-links li > a:hover {
  color: #1f3f5b;
  -webkit-text-decoration: 2px solid underline;
          text-decoration: 2px solid underline;
  text-underline-offset: 10px;
}

nav .nav-links li > .arrow-dark-product,
nav .nav-links .arrow-dark-company,
nav .nav-links .arrow-dark-connect {
  display: none;
}

nav .nav-links .product-content,
nav .nav-links .company-content,
nav .nav-links .connect-content {
  margin-top: 10px;
  position: absolute;
  background: white;
  border-radius: 0.5rem;
  -webkit-box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
  width: 150px;
  height: 150px;
  padding: 1rem;
  list-style: none;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  pointer-events: none;
  z-index: 1;
}

nav .nav-links .product-content a,
nav .nav-links .company-content a,
nav .nav-links .connect-content a {
  color: #25252d;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
}

nav .nav-links .product-content a:hover,
nav .nav-links .company-content a:hover,
nav .nav-links .connect-content a:hover {
  color: #1f3f5b;
  font-weight: bold;
}

nav .nav-links .nav-right {
  margin-left: 50rem;
}

nav .nav-links .nav-right a {
  color: white;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
}

nav .nav-links .nav-right a:hover {
  -webkit-text-decoration: 2px solid underline;
          text-decoration: 2px solid underline;
  text-underline-offset: 10px;
  color: #1f3f5b;
}

nav .nav-links .nav-right button {
  background: white;
  padding: 1rem 3rem;
  border: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
          box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 2rem;
  margin-left: 1rem;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ff525d;
  cursor: pointer;
}

nav .nav-links .nav-right button:hover {
  background: #ff7a85;
  color: white;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
}

nav .hamburger {
  display: none;
}

.intro-heading {
  position: relative;
  top: 20vh;
  text-align: center;
}

.intro-heading h1 {
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 5rem;
  font-weight: lighter;
}

.intro-heading p {
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.intro-heading .intro-btns {
  margin-top: 2rem;
}

.intro-heading .intro-btns .free-btn {
  background: white;
  padding: 1.2rem 2rem;
  border: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
          box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 2rem;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ff525d;
  cursor: pointer;
}

.intro-heading .intro-btns .free-btn:hover {
  background: -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff3d54));
  background: linear-gradient(to right, #ff8f70, #ff3d54);
  color: white;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.intro-heading .intro-btns .learn-btn {
  background: none;
  padding: 1.2rem 2rem;
  border: 1px solid white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
          box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 2rem;
  margin-left: 1rem;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.intro-heading .intro-btns .learn-btn:hover {
  background: white;
  color: #ff525d;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

/* Future Section */
.future-section {
  position: relative;
  padding-top: 5rem;
  width: 90%;
  margin: auto;
}

.future-section .future-heading {
  text-align: center;
  font-family: "Overpass", sans-serif;
  font-size: 2.5rem;
  color: #1f3f5b;
}

.future-section .future-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.future-section .future-content .future-text-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 40%;
          flex: 1 0 40%;
}

.future-section .future-content .future-text-content .editor-content h3 {
  font-family: "Overpass", sans-serif;
  font-size: 2.5rem;
  color: #1f3f5b;
}

.future-section .future-content .future-text-content .editor-content p {
  margin-top: 1rem;
  font-family: "Overpass", sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #25252d;
}

.future-section .future-content .future-text-content .robust-content {
  margin-top: 2rem;
}

.future-section .future-content .future-text-content .robust-content h3 {
  font-family: "Overpass", sans-serif;
  font-size: 2.5rem;
  color: #1f3f5b;
}

.future-section .future-content .future-text-content .robust-content p {
  margin-top: 1rem;
  font-family: "Overpass", sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #25252d;
}

.future-section .future-content .future-illustration {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 60%;
          flex: 1 0 60%;
  position: relative;
  right: -270px;
}

.future-section .future-content .future-illustration img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Infrstructure Section */
.infrastructure-section {
  margin-top: 10rem;
  background: url("../images/bg-pattern-circles.svg") no-repeat left, -webkit-gradient(linear, left top, right top, color-stop(100%, #2c2d3f), to(#3f4164));
  background: url("../images/bg-pattern-circles.svg") no-repeat left, linear-gradient(to right, #2c2d3f 100%, #3f4164);
  position: relative;
  padding: 0rem 5rem;
  height: 60vh;
  background-position-x: -250px;
  background-position-y: -450px;
  border-bottom-left-radius: 5rem;
  border-top-right-radius: 5rem;
}

.infrastructure-section .infrastructure-content {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.infrastructure-section .infrastructure-content .mobile-illustration {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 60%;
          flex: 1 0 60%;
  position: relative;
  top: -70px;
  left: -88px;
}

.infrastructure-section .infrastructure-content .mobile-illustration img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.infrastructure-section .infrastructure-content .infrastructure-text {
  position: relative;
  top: -100px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 40%;
          flex: 1 0 40%;
}

.infrastructure-section .infrastructure-content .infrastructure-text h3 {
  font-family: "Overpass", sans-serif;
  font-size: 2.5rem;
  color: white;
}

.infrastructure-section .infrastructure-content .infrastructure-text p {
  margin-top: 1rem;
  font-family: "Overpass", sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  color: white;
}

/* Tools Section */
.tools-section {
  margin-top: 10rem;
  min-height: 100vh;
}

.tools-section .tools-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  margin: auto;
}

.tools-section .tools-content .illustration-laptop {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 60%;
          flex: 1 0 60%;
  left: -270px;
}

.tools-section .tools-content .illustration-laptop img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.tools-section .tools-content .tools-text-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 40%;
          flex: 1 0 40%;
}

.tools-section .tools-content .tools-text-content .simple-content h3 {
  font-family: "Overpass", sans-serif;
  font-size: 2.5rem;
  color: #1f3f5b;
}

.tools-section .tools-content .tools-text-content .simple-content p {
  margin-top: 1rem;
  font-family: "Overpass", sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #25252d;
}

.tools-section .tools-content .tools-text-content .powerful-content {
  margin-top: 2rem;
}

.tools-section .tools-content .tools-text-content .powerful-content h3 {
  font-family: "Overpass", sans-serif;
  font-size: 2.5rem;
  color: #1f3f5b;
}

.tools-section .tools-content .tools-text-content .powerful-content p {
  margin-top: 1rem;
  font-family: "Overpass", sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #25252d;
}

/* Footer Section*/
.footer-section {
  min-height: 50vh;
  background-color: #25252d;
  border-top-right-radius: 5rem;
  padding: 8rem;
  margin-top: 10rem;
}

.footer-section .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer-section .footer-content .footer-logo {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.footer-section .footer-content .product {
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.footer-section .footer-content .product h5 {
  font-family: "Overpass", sans-serif;
  color: white;
  font-size: 2rem;
}

.footer-section .footer-content .product .product-links {
  margin-top: 1rem;
}

.footer-section .footer-content .product .product-links li {
  list-style: none;
}

.footer-section .footer-content .product .product-links a {
  font-family: "Overpass", sans-serif;
  font-size: 1.5rem;
  color: #c8c8cb;
  text-decoration: none;
}

.footer-section .footer-content .product .product-links a:hover {
  text-decoration: underline;
  color: white;
}

.footer-section .footer-content .company {
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.footer-section .footer-content .company h5 {
  font-family: "Overpass", sans-serif;
  color: white;
  font-size: 2rem;
}

.footer-section .footer-content .company .company-links {
  margin-top: 1rem;
}

.footer-section .footer-content .company .company-links li {
  list-style: none;
}

.footer-section .footer-content .company .company-links a {
  font-family: "Overpass", sans-serif;
  font-size: 1.5rem;
  color: #c8c8cb;
  text-decoration: none;
}

.footer-section .footer-content .company .company-links a:hover {
  text-decoration: underline;
  color: white;
}

.footer-section .footer-content .connect {
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.footer-section .footer-content .connect h5 {
  font-family: "Overpass", sans-serif;
  color: white;
  font-size: 2rem;
}

.footer-section .footer-content .connect .connect-links {
  margin-top: 1rem;
}

.footer-section .footer-content .connect .connect-links li {
  list-style: none;
}

.footer-section .footer-content .connect .connect-links a {
  font-family: "Overpass", sans-serif;
  font-size: 1.5rem;
  color: #c8c8cb;
  text-decoration: none;
}

.footer-section .footer-content .connect .connect-links a:hover {
  text-decoration: underline;
  color: white;
}

.attribution {
  font-size: 1.2rem;
  text-align: center;
  font-family: "Overpass", sans-serif;
}

.attribution a {
  color: #ff525d;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer-section .footer-content {
    padding: 5rem 10rem;
  }
}

.nav-active {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  nav .nav-links.open {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  nav .nav-links li {
    opacity: 0;
  }
  nav .nav-links li:nth-child(1) {
    -webkit-transition: all 1s ease-in 0.2s;
    transition: all 1s ease-in 0.2s;
  }
  nav .nav-links li:nth-child(2) {
    -webkit-transition: all 1s ease-in 0.6s;
    transition: all 1s ease-in 0.6s;
  }
  nav .nav-links li:nth-child(3) {
    -webkit-transition: all 1s ease-in 0.8s;
    transition: all 1s ease-in 0.8s;
  }
  nav .nav-links li.fade {
    opacity: 1;
  }
  nav .nav-links {
    position: fixed;
    right: 0px;
    left: 0px;
    height: 80vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
            box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: white;
    top: 14vh;
    width: 90%;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  nav .nav-links li > .arrow-light,
  nav .nav-links .arrow-light-company,
  nav .nav-links .arrow-light-connect {
    content: url("../images/icon-arrow-dark.svg");
    background: navy;
    display: none;
  }
  nav .nav-links li > .arrow-dark-product,
  nav .nav-links .arrow-dark-company,
  nav .nav-links .arrow-dark-connect {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  nav .nav-links li {
    margin-left: 0px;
  }
  nav .nav-links li > a {
    color: #1f3f5b;
  }
  nav .nav-links .product-content {
    margin-top: 0rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background: #c8c8cb;
    width: 300px;
  }
  nav .nav-links .company-content {
    margin-top: 0rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background: #c8c8cb;
    width: 300px;
  }
  nav .nav-links .connect-content {
    margin-top: 0rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background: #c8c8cb;
    width: 300px;
  }
  nav .nav-links .nav-right {
    margin-left: 0rem;
  }
  nav .nav-links .nav-right a {
    color: #1f3f5b;
  }
  nav .hamburger {
    display: block;
    cursor: pointer;
  }
  .future-section .future-content {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .future-section .future-content .future-text-content {
    margin-top: 3rem;
  }
  .future-section .future-content .future-illustration {
    margin-top: 3rem;
    right: 0px;
    content: url("../images/illustration-editor-mobile.svg");
  }
  .infrastructure-section {
    position: relative;
    top: 200px;
    text-align: center;
    height: 80vh;
  }
  .infrastructure-section .infrastructure-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .infrastructure-section .infrastructure-content .mobile-illustration {
    top: -200px;
    left: 2%;
    width: 100vw;
  }
  .infrastructure-section .infrastructure-content .infrastructure-text {
    top: -200px;
  }
  .tools-section {
    margin-top: 25rem;
  }
  .tools-section .tools-content {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tools-section .tools-content .illustration-laptop {
    left: 0;
    content: url("../images/illustration-laptop-mobile.svg");
  }
  .tools-section .tools-content .tools-text-content {
    margin-top: 3rem;
  }
  .footer-section {
    text-align: center;
  }
  .footer-section .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-section .footer-content .footer-logo {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .footer-section .footer-content .product {
    margin-top: 3rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .footer-section .footer-content .company {
    margin-top: 2rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .footer-section .footer-content .connect {
    margin-top: 2rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
/*# sourceMappingURL=style.css.map */